/* ================ COMMON STYLES ================ */
ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  color: #111111;
  background-color: #fff;
}

.accent-color {
  color: #4d5ae5;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* ================ /COMMON STYLES ================ */

/* ================ HEADER STYLES ================ */

.page-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.text-italic {
  font-style: italic;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

/* ================ /HEADER STYLES ================ */

/* ================ /HERO STYLES ================ */

.order-service-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
